body {
    padding-top: 10px;
}


body {
    overflow-x: hidden;
    font-family: Roboto slab;
    font-weight: 200;
    color: #3a3a3a;
}

body {

    min-height: 100%;
    display: flex;
    flex-direction: column;

}

/* Mental Maths is a main heading and title of the game */

.heading {

    font-size: 90%;
    text-align: center;
}

.logo {
    margin-top: 5px;
    height: 35px;
    border: 1px solid rgb(0, 89, 255);
    border-radius: 2px;
}


#menu {

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 120%;
}

#menu li {

    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    font-family: roboto slab;
}


/* Two main buttons for users to get information about the game and play instructions */
#how {
    height: 30px;
    float: left;
    color: rgb(0, 89, 255);
}

#play-instructions {

    top: 30px;
    float: left;
    font-size: 50%;
    height: 50%;
    color: rgb(0, 89, 255);
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
}

#about-game {

    height: 30px;
    float: right;
    color: rgb(0, 89, 255);

}

#info {
    top: 30px;
    float: right;

    font-size: 50%;
    height: 50%;
    color: rgb(0, 89, 255);

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;


}

/* Game area is a heart of the game where the main structure has been built */

.game-area {



    height: 30%;
    width: 60%;
    padding: 1%;
    margin: 0 auto;

    font-size: 200%;
    font-family: 'Roboto Slab', sans-serif;

    border: 2px solid black;
    color: rgb(0, 89, 255);
    box-shadow: 5px 5px 5px 5px;

    position: relative;
    Border-radius: 25px;
    background-color: #f8f6c2;


}


/* Main container of the buttons to generate the digits  */

.digit-btns-container {

    width: 50%;
    margin: 0 auto;
    place-items: center;

}

/* All the operators are not in use but they have been placed on the right place and can be changed if required */

#operator1,
#operator2,
#operator3,
#operator4,
#operator5 {

    display: none;
}

/* All operands, question digits and their styles are kept simple */

#operand1,
#operand2,
#operand3,
#operand4,
#operand5,
#operand6 {

    border: 1px solid rgb(0, 89, 255);
    border-radius: 5px;
    font-size: 75%;
}



.question-digits {
    position: relative;
    width: 55%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.big-digit-generator {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.big-btn,
.small-btn {

    height: 35px;
    width: 45px;
    background: linear-gradient(white, rgb(134, 134, 244));
    border-radius: 5px;
    text-align: center;

}

.small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;
}

.second-small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;

}

.sbmt-btn,
.refresh-btn {

    height: 40px;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(white, rgb(134, 134, 244));
    align-items: center;
    display: flex;
    margin: 0 auto;
}

#target {
    width: 50px;
    font-size: 75%;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;


}

/* social netwroks links have been added and real social networks channels can be added */

.social-networks {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


.social-networks li {

    list-style-type: none
}

.social-networks i {

    font-size: 120%;
    padding: 2%;
    margin: 5px;
}

/* A brief information about the game which on instructions page */

.gen-info {

    font-size: 60%;
    text-align: center;
}

@media screen and (max-width: 800px) {

    .game-area {

        width: 80%;
    }

    .gen-info {

        font-size: 45%;
    }



}