body {}

.heading {

    font-size: 90%;
    text-align: center;

}

#how-to {

    height: 30px;
    float: left;
    color: blue;
}

#play-instructions {
    top: 30px;
    font-size: 50%;
    width: 60%;
    height: 25%;
    float: left;
    color: rgb(0, 89, 255);

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#about-game {

    height: 30px;
    float: right;
    color: blue;
}

#info {

    float: right;
    top: 30px;

    font-size: 50%;
    width: 50%;
    height: 25%;
    color: rgb(0, 89, 255);

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;


}

#target {

    height: 35px;
    width: 60px;
    margin-left: 300px;
    border-radius: 5px;
    position: absolute;
    display: flex;

}


.game-area {

    height: 30%;
    width: 40%;
    padding: 5%;
    margin: 0 auto;

    font-size: 200%;
    font-family: 'Roboto Slab', sans-serif;

    border: 2px solid black;
    color: blue;
    box-shadow: 5px 5px 5px 5px;

    position: relative;
    Border-radius: 25px;
    background-color: rgb(251, 244, 120);


}

.digit-btns {
    border: 1px solid red;
    width: 55%;
    margin: 0 auto;
    place-items: center;


}

#operand1,
#operand2,
#operand3,
#operand4,
#operand5,
#operand6 {

    border: 1px solid rgb(0, 89, 255);
    border-radius: 5px;
    font-size: 75%;
}

.question-digits {
    position: relative;

    width: 55%;
    margin-bottom: px;
    display: flex;
    margin: 0 auto;
    justify-content: center;

    border: 1px solid blue;

}

.big-digit-generator {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.big-btn {

    height: 35px;
    width: 55px;
    background: linear-gradient(white, blue);
    border-radius: 5px;

}

.small-btn {

    height: 35px;
    width: 55px;
    background: linear-gradient(white, blue);
    border-radius: 5px;

}

.small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;
}

.second-small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;

}

.third-small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.sbmt-btn-green {

    height: 40px;
    border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(white, rgb(134, 134, 244));
    align-items: center;
    display: flex;
    margin: 0 auto;

}

.score-area {
    border: 1px solid black;
    height: 40px;
}

.correct {
    margin: 20px;
    font-size: 90%;
}

.incorrect {
    margin: 20px;
    font-size: 90%;

}

.your-answer {
    display: none;
}

#answer-box {

    margin-top: 10px;
    margin-left: 350px;
    height: 50px;
    width: 80px;
    border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
}