body {
    ;
}

.heading {

    font-size: 90%;
    text-align: center;

}

#how-to {

    height: 30px;
    float: left;
    color: blue;
}

#play-instructions {

    margin-left: px;
    font-size: 50%;
    width: 20%;
    height: 50%;

    color: #070709;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}

#about-game {

    height: 30px;
    float: right;
    color: blue;
}

#info {


    top: 30px;
    float: right;

    font-size: 50%;
    width: 25%;
    height: 50%;
    color: rgb(0, 89, 255);

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;


}

#target-btn {

    height: 35px;
    width: 60px;
    margin-left: 300px;
    border-radius: 5px;
    position: absolute;
    display: flex;

}


.game-area {



    height: 30%;
    width: 60%;
    padding: 1%;
    margin: 0 auto;

    font-size: 200%;
    font-family: 'Roboto Slab', sans-serif;

    border: 2px solid black;
    color: rgb(0, 89, 255);
    box-shadow: 5px 5px 5px 5px;

    position: relative;
    Border-radius: 25px;
    background-color: #f8f6c2;


}

.digit-btns-container {

    width: 50%;
    margin: 0 auto;
    place-items: center;
    border: ;
}

#operator1,
#operator2,
#operator3,
#operator4,
#operator5 {

    display: none;
}





#operand1,
#operand2,
#operand3,
#operand4,
#operand5,
#operand6 {

    border: 1px solid rgb(0, 89, 255);
    border-radius: 5px;
    font-size: 75%;
}

.question-digits {
    position: relative;

    width: 55%;
    margin-bottom: px;
    display: flex;
    margin: 0 auto;
    justify-content: center;



}

.big-digit-generator {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.big-btn,
.small-btn {

    height: 30px;
    width: 45px;
    background: linear-gradient(white, rgb(134, 134, 244));
    border-radius: 5px;
    text-align: center;

}

.small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;
}

.second-small-digit-generator {

    display: flex;
    justify-content: center;
    text-align: center;

}

.target-label {
    font-size: 75%;

    align-items: center;
    justify-content: center;
    display: flex;
}

.trgt {

    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    height: 25px;

}


.sbmt-btn-green {

    height: 40px;
    border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(white, rgb(134, 134, 244));
    align-items: center;
    display: flex;
    margin: 0 auto;

}

.correct,
.incorrect {
    font-size: 75%;
    color: red;
}